<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="padding-top:0;padding-bottom:0">
    <!-- wp:pattern {"slug":"happyturtle-fse/hero-section"} /-->
    <!-- wp:pattern {"slug":"happyturtle-fse/about-section"} /-->
    <!-- wp:pattern {"slug":"happyturtle-fse/services-section"} /-->
    <!-- wp:pattern {"slug":"happyturtle-fse/partners-section"} /-->
    <!-- wp:pattern {"slug":"happyturtle-fse/contact-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->